@import 'fonts.css';

body {
  position: relative;
}


ul,
li {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: rgb(33, 35, 36);
}

a:hover {
  text-decoration: none;
  color: rgb(218, 111, 91);
}

a:active,
a:focus {
  outline: none;
}

input[type="text"]:active {
  visibility: hidden;
}


logo:hover {
  outline: none;
}

.krim_Leto_ru {
  color: rgb(0, 49, 95);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 36px;
}

.logo-orange {
  color: rgb(218, 111, 91);
}

.navigation-item-link {
  color: #212324;
  font-size: 18px;
  font-family: "Gilroy";
}

.menu__item a:hover {
  color: #332599;
  text-decoration: none;
}

.navigation-item-button {
  border-style: solid;
  border-color: rgb(218, 111, 91);
  background: white;
  font-size: 18px;
}

.navigation-item-button:hover {
  border-style: solid;
  background: rgb(218, 111, 91);
  color: white !important;
}

.breadcrumb-card a:hover {
  color: rgb(218, 111, 91) !important;
}

.choice__button:hover {
 background-color: rgb(206, 103, 83) !important;
 color: white !important;
}

.input-group:hover {
  border-color: rgb(206, 103, 83) !important;
}


.header {
  height: 60vh;
  background-image: url(../images/header.png);
  background-size: cover;
  color: white;
}

.header-catalog {
  background-image: url(../images/Krim-town.png);
  background-size: cover;
  color: white;
  max-width: 100%;
  height: 30vh;
}

h1 {
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.krim-project {
  font-family: "Gilroy";
}

.choice {
  margin-top: 16px;
}

.form-serch {
  margin-top: 18px;
}

.choice__button {
  border-style: 3px solid;
  background-color: rgb(218, 111, 91);
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
}

.button-filter {
  border: 4px solid rgb(218, 111, 91);
  background-color: rgb(255, 255, 255);
  color: rgb(218, 111, 91);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
}

.about__title {
  color: rgb(33, 35, 36);
  font-weight: bold;
  font-size: 36px;
}

.line {
  margin: 10px 0;
  border-bottom: 2px solid rgb(218, 111, 91);
}

.line-grey {
  margin: 10px 0;
  border-bottom: 2px solid rgb(208, 208, 208);
}


.towns-group {
  margin-top: 5px;
  margin-bottom: 28px;
}

.town {
  color: rgb(38, 142, 194);
  font-weight: normal;
  font-size: 16px;
  font-family: "Gilroy";
}

.about_h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.text {
  margin-top: 0;
  color: rgb(33, 35, 36);
  font-size: 16px;
  line-height: 1.5;
}

.objects__category__type {
  border-style: solid;
  border-color: rgb(98, 96, 104);
  color: rgb(33, 35, 36);
  font-size: 18px;
  font-family: "Gilroy";
}

.cards {
  background-color: white;
  background-image: url(../images/fonmore.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.cards__popular__object {
  height: auto;
  border: 0;
  background-color: rgb(255, 255, 255);
}


.cards__popular__object__adress {
  color: rgb(33, 35, 36);
  font-size: 14px;
  font-family: "Gilroy";
}


.cards__popular__object__price {
  color: rgb(218, 111, 91);
  font-weight: bold;
  font-size: 22px;
}

.cards__popular__object__guest {
  color: rgb(33, 35, 36);
  font-size: 14px;
}

.footer-info {
  padding: 10px 0;
  background-color: black;
}

.seo-text {
  color: rgb(33, 35, 36);
  font-size: 16px;
  line-height: 1.5;
}


.down-logo {
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 36px;
}

.footer-doc {
  color: rgb(239, 239, 239);
  font-size: 16px;
  line-height: 1.5;
}

.seo-article {
  color: rgb(33, 35, 36);
  font-size: 22px;
}

.logofooter {
  color: black;
}


.down-logo {
  color: rgb(255, 255, 255);
}

.logo:hover {
  outline: none;
}


.fa,
.far {
  color: rgb(218, 111, 91);
}

.fa-reply,
.fa-heart {
  color: rgb(33, 35, 36);
}

.fa-reply:hover,
.fa-heart:hover {
  color: rgb(218, 111, 91);
}


.btn_date {
  border: solid rgb(207, 210, 213) 1px;
  border-left: 0;
  background: white;
}


.form-control:active {
  border: none;
}

.form-control {
  color: rgb(33, 35, 36);
}

.show-all {
  color: rgb(218, 111, 91);
  font-size: 16px;
}


button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: 0 !important;
  outline-width: 0 !important;
  outline-style: none !important;
  outline-color: transparent !important;
  box-shadow: 0 0 0 0 rgba(0, 123, 255, 0) !important;
}

.image-krim,
.image-map {
  max-width: 100%;
  height: auto;
}

.image-small {
  max-width: 300%;
  height: auto;
}

.image-nature {
  max-width: 100%;
  height: auto;
}

.image-hover * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

.image-hover {
  position: relative;
  display: inline-block;
  overflow: hidden;
  background: #fff;
}


.carousel-indicators li {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: rgb(218, 111, 91);
}


.carousel-indicators {
  bottom: -50px;
}


.small_input {
  display: block;
}

.big_input {
  display: none;
}

@media only screen and (min-width: 768px) {
  .small_input {
    display: none;
    margin: 0 auto;
  }

  .big_input {
    display: inline-block;
    margin: 0;
  }

  .footer-doc:hover {
    color: rgb(218, 111, 91);
  }

  .basic-breadcrumbs li {
    font-weight: light;
    font-size: 14px;
    color: rgb(33, 35, 36);
  }

  .basic-breadcrumbs li a,
  .basic-breadcrumbs li a:link,
  .basic-breadcrumbs li a:visited {
    padding: 5px 8px;
    color: rgb(218, 111, 91);
    position: relative;
  }

  .basic-breadcrumbs li a:before {
    content: "";
    position: absolute;
    border: 5px solid transparent;
    border-right: none;
    border-left: 5px solid rgb(218, 111, 91);
    top: 50%;
    right: -5px;
    transform: translate(0, -50%);
  }

  .basic-breadcrumbs li:last-of-type a {
    color: rgb(33, 35, 36);
  }

  .basic-breadcrumbs li:last-of-type a:before {
    display: none;
  }

  .breadcrumb-holder {
    background-color: white;
  }


  .breadcrumb-holder ul {
    display: flex;
  }

  .breadcrumb-holder li:last-of-type a {
    cursor: text;
  }

  .breadcrumb-holder li a,
  .breadcrumb-holder li a:link,
  .breadcrumb-holder li a:visited {
    text-decoration: none;
    display: block;
  }

  .search-parameters {
    font-size: 22px;
    font-weight: medium;
  }

  .filter-type {
    font-size: 18px;
    font-weight: medium;
  }

  .object-parameter {
    font-size: 16px;
    font-weight: light;
  }

  .comments-list li {
    margin-bottom: 15px;
    display: block;
    position: relative;
  }

  .comments-list li:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
    width: 0;
  }

  .reply-list {
    padding-left: 67px;
    clear: both;
  }

  .comment-main-level:after {
    content: '';
    width: 0;
    height: 0;
    display: block;
    clear: both;
  }


  .comment-box .comment-head {
    padding: 10px 12px;
    border-bottom: 1px solid #E5E5E5;
    overflow: hidden;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
  }

  .comment-box .comment-head i {
    float: right;
    position: relative;
    top: 2px;
    color: #A6A6A6;
    cursor: pointer;
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
  }

  .comment-box .comment-head i:hover {
    color: rgb(218, 111, 91);
  }

  .comment-box .comment-name {
    color: rgb(33, 35, 36);
    font-size: 24px;
    font-weight: regular;
    float: left;
    margin-right: 10px;
  }

  .comment-box .comment-head span {
    float: left;
    color: #999;
    font-size: 20px;
    position: relative;
    top: 1px;
  }

  .comment-box .comment-content {
    background: #FFF;
    padding: 12px;
    font-size: 18px;
    font-weight: light;
    color: rgb(33, 35, 36);
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
  }

  .comment-name a {
    color: rgb(218, 111, 91);

  }

  .comment-box .comment-name.by-author:after {
    content: 'гость';
    background: rgb(218, 111, 91);
    color: #FFF;
    font-size: 16px;
    padding: 3px 5px;
    font-weight: regular;
    margin-left: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }

  .number,
  .adress {
    font-size: 18px;
    color: rgb(33, 35, 36);
  }

  .object-info_detail {
    font-size: 16px;
    color: rgb(33, 35, 36);
    line-height: 1.5;
  }

  .object-info_number {
    font-size: 16px;
    color: rgb(33, 35, 36);
    background-color: rgb(250, 211, 213);
    font-weight: bold;
    line-height: 1.333;
  }

  .period {
    font-size: 24px;
    color: rgb(33, 35, 36);
    font-weight: bold;
  }

  .period-booking {
    font-size: 24px;
    color: rgb(33, 35, 36);
  }

  ::-webkit-input-placeholder {
    color: rgb(33, 35, 36);
    opacity: 1;
  }

  ::-moz-placeholder {
    color: rgb(33, 35, 36);
    opacity: 1;
  }

  :-moz-placeholder {
    color: rgb(33, 35, 36);
    opacity: 1;
  }

  :-ms-input-placeholder {
    color: rgb(33, 35, 36);
    opacity: 1;
  }
}


















}
